<link rel="stylesheet" type="text/css" href="../../org/org-subwindow/org-subwindow.css" />

<div class="whui-fluid">
    <div class="layui-row whui-form">
        <form class="layui-form">

            <div class="layui-tab-item layui-show">
                <div class="center-flex-bg center-content-head center-content-border">
                    <div class="center-head-item wh-flex1">房型</div>
                    <div class="center-head-item wh-flex1">房号</div>
                    <div class="center-head-item wh-flex1">姓名</div>
                    <div class="center-head-item wh-flex1">到达</div>
                    <div class="center-head-item wh-flex1">离开</div>
                    <div class="center-scroll-item"></div>
                </div>
                <div class="layui-side-scroll pl-scroll-bg">
                    <div v-for="(item,index) in dataList" class="center-flex-bg center-content-head" v-bind:class="index%2 ? 'center-item-gray-bg':'center-item-white-bg'">
                        <div class="center-content-item wh-flex1">{{item.roomType}}</div>
                        <div class="center-content-item wh-flex1">{{item.roomNo}}</div>
                        <div class="center-content-item wh-flex1">{{item.name}}</div>
                        <div class="center-content-item wh-flex1">{{item.arriveDate}}</div>
                        <div class="center-content-item wh-flex1">{{item.leaveDate}}</div>
                    </div>
                </div>
            </div>
            <div class="pl-btngroup">
                <div class="layui-layer-btn layui-layer-btn-c">
                    <a class="subwindow-cancel-btn">取消</a>
                    <a class="subwindow-primary-btn">自动排房</a>
                    <a class="subwindow-primary-btn" @click="showPLSelect()">批量选择</a>
                    <a class="subwindow-primary-btn">入住</a>
                    <a class="subwindow-ensure-btn">确认</a>
                </div>
            </div>
        </form>
    </div>
</div>