<link rel="stylesheet" type="text/css" href="../../org/org-subwindow/org-subwindow.css" />

<div class="whui-fluid">
    <div class="layui-row whui-form">
        <form class="layui-form">

            <div class="message-form-line">
                <div class="message-title2">
                    生效:
                </div>
                <div class="message-date-picker">
                    <input class="layui-input" id="startDatePick" type="text">
                </div>
            </div>
            <div class="message-form-line">
                <div class="message-title2">
                    失效:
                </div>
                <div class="message-date-picker">
                    <input class="layui-input" id="endDatePick" type="text">
                </div>
            </div>
            <div class="message-form-line message-text">
                <div class="message-title2">
                    摘要:
                </div>
                <div class="message-text-input">
                    <textarea class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="message-form-line">
                <div class="message-title3">修改人:</div>
                <div class="message-input">
                </div>
            </div>
            <div class="message-form-line">
                <div class="message-title4">修改时间:</div>
                <div class="message-input">
                </div>
            </div>

            <div class="subwindow-confirm-btngroup">
                <div class="layui-layer-btn layui-layer-btn-c">
                    <a class="subwindow-cancel-btn">取消</a>
                    <a class="subwindow-ensure-btn">确认</a>
                </div>
            </div>
        </form>
    </div>
</div>

