<div class="layui-tab-content layui-col-md12 wh-tab-content">
    <div class="layui-tab-item layui-show">
        <div class="center-flex-bg center-content-head center-content-border">
            <div class="center-head-item wh-flex1">代码</div>
            <div class="center-head-item wh-flex2">描述</div>
            <div class="center-head-item wh-flex1">首日房价</div>
            <div class="center-head-item wh-flex1">平均房价</div>
            <div class="center-head-item wh-flex1">总房价</div>
            <div class="center-scroll-item"></div>
        </div>
        <div class="layui-side-scroll subwindow-scroll-bg">
            <div v-for="(item,index) in dataList" class="center-flex-bg center-content-head" v-bind:class="index%2 ? 'center-item-gray-bg':'center-item-white-bg'">
                <div class="center-content-item wh-flex1">{{item.code}}</div>
                <div class="center-content-item wh-flex2">{{item.desc}}</div>
                <div class="center-content-item wh-flex1">{{item.firstPrice}}</div>
                <div class="center-content-item wh-flex1">{{item.avergePrice}}</div>
                <div class="center-content-item wh-flex1">{{item.totalPrice}}</div>
            </div>
        </div>
    </div>
</div>
