<div class="layui-col-md12">
    <form class="layui-form" lay-filter="code-form">
        <div class="multiple-pop-head">
            <span>留言</span>
            <img @click="closeImgClick" src="../../../assets/img/system-setting_icon_subClose.png" />
        </div>

        <div class="message-form-line">
            <div class="message-title2">
                生效:
            </div>
            <div class="message-date-picker">
                <input class="layui-input" id="startDatePick" type="text" v-model="messageForm.showstartTime">
                <input class="layui-input hide" type="text" v-model="messageForm.startTime">
            </div>
        </div>
        <div class="message-form-line">
            <div class="message-title2">
                失效:
            </div>
            <div class="message-date-picker">
                <input class="layui-input" id="endDatePick" type="text"  v-model="messageForm.showendTime">
                <input class="layui-input hide" type="text" v-model="messageForm.endTime">
            </div>
        </div>
        <div class="message-form-line message-text">
            <div class="message-title2">
                摘要:
            </div>
            <div class="message-text-input">
                <textarea class="layui-textarea" v-model="messageForm.remark"></textarea>
            </div>
        </div>
        <div class="message-form-line">
            <div class="message-title3">修改人:</div>
            <div class="message-input">
            </div>
        </div>
        <div class="message-form-line">
            <div class="message-title4">修改时间:</div>
            <div class="message-input">
            </div>
        </div>

        <div class="wh-form-bottom">
            <div class="wh-flex1">
                <div @click="CancelClick" class="code-form-left-btn">取消</div>
            </div>
            <div class="wh-flex1">
                <div @click="ConfirmClick" class="code-form-right-btn">确认</div>
            </div>
        </div>

    </form>
</div>