<link rel="stylesheet" type="text/css" href="../../reservation/reservation-subwindow/reservation-subwindow.css" />

<div class="whui-fluid">
    <div class="layui-row whui-form">
        <form class="layui-form">

            <div class="plselect-checkbox-bg">
                <div class="plselect-line">
                    <div class="plselect-title2">标记:</div>
                    <div class="plselect-checkbox">
                        <input type="checkbox" name="like[VC]" lay-skin="primary"  title="VC">
                        <input type="checkbox" name="like[VD]" lay-skin="primary"  title="VD">
                        <input type="checkbox" name="like[OC]" lay-skin="primary"  title="OC">
                        <input type="checkbox" name="like[OD]" lay-skin="primary"  title="OD">
                    </div>
                </div>
                <div class="plselect-line">
                    <div class="plselect-title2">楼栋:</div>
                    <div class="plselect-checkbox"></div>
                </div>
                <div class="plselect-line">
                    <div class="plselect-title2">楼层:</div>
                    <div class="plselect-checkbox"></div>
                </div>
                <div class="plselect-line">
                    <div class="plselect-title4">客房特征:</div>
                    <div class="plselect-checkbox">
                        <input type="checkbox" name="like[VC]" lay-skin="primary"  title="落地窗">
                        <input type="checkbox" name="like[VD]" lay-skin="primary"  title="远离工作间">
                        <input type="checkbox" name="like[OC]" lay-skin="primary"  title="远离工作间">
                        <input type="checkbox" name="like[OD]" lay-skin="primary"  title="远离工作间">
                    </div>
                </div>
            </div>

            <div class="center-flex-bg center-content-head center-content-border plselect-center">
                <div class="center-head-item wh-flex1"><input type="checkbox" lay-skin="primary"></div>
                <div class="center-head-item wh-flex1">房型</div>
                <div class="center-head-item wh-flex1">房号</div>
                <div class="center-head-item wh-flex1">标记</div>
                <div class="center-head-item wh-flex1">特征</div>
                <div class="center-scroll-item"></div>
            </div>
            <div class="layui-side-scroll plselect-scroll-bg">
                <div v-for="(item,index) in dataList" class="center-flex-bg center-content-head" v-bind:class="index%2 ? 'center-item-gray-bg':'center-item-white-bg'">
                    <div class="center-content-item wh-flex1"><input type="checkbox" lay-skin="primary"></div>
                    <div class="center-content-item wh-flex1">{{item.roomType}}</div>
                    <div class="center-content-item wh-flex1">{{item.roomNo}}</div>
                    <div class="center-content-item wh-flex1">{{item.mark}}</div>
                    <div class="center-content-item wh-flex1">{{item.sign}}</div>
                </div>
            </div>

            <div class="subwindow-confirm-btngroup">
                <div class="layui-layer-btn layui-layer-btn-c">
                    <a class="subwindow-cancel-btn">取消</a>
                    <a class="subwindow-ensure-btn">确认</a>
                </div>
            </div>
        </form>
    </div>
</div>