<link rel="stylesheet" type="text/css" href="../../reservation/reservation-subwindow/reservation-subwindow.css" />

<div class="whui-fluid">
    <div class="layui-row whui-form">
        <form class="layui-form">

            <div class="zkinfo-form-line">
                <div class="zkinfo-title5">
                    房类/房号:
                </div>
                <div class="zkinfo-text">
                    SWSC/1002
                </div>
            </div>
            <div class="zkinfo-form-line">
                <div class="zkinfo-title2">
                    姓名:
                </div>
                <div class="zkinfo-input">
                    <input class="layui-input" type="text">
                </div>
            </div>
            <div class="zkinfo-form-line">
                <div class="zkinfo-title4">
                    证件类型:
                </div>
                <div class="zkinfo-input">
                    <input class="layui-input" type="text">
                </div>
            </div>
            <div class="zkinfo-form-line">
                <div class="zkinfo-title4">
                    证件好码:
                </div>
                <div class="zkinfo-input">
                    <input class="layui-input" type="text">
                </div>
            </div>
            <div class="zkinfo-form-line">
                <div class="zkinfo-title2">
                    地址:
                </div>
                <div class="zkinfo-input">
                    <input class="layui-input" type="text">
                </div>
            </div>

            <div class="zkinfo-form-line">
                <div class="zkinfo-title2">
                    性别:
                </div>
                <div class="zkinfo-radio">
                    <input type="radio" name="isStop" value="male" title="男">
                    <input type="radio" name="isStop" value="female" title="女">
                </div>
            </div>

            <div class="zkinfo-form-line">
                <div class="zkinfo-title4">
                    手机号码:
                </div>
                <div class="zkinfo-input">
                    <input class="layui-input" type="text">
                </div>
            </div>
            <div class="zkinfo-form-line">
                <div class="zkinfo-title2">
                    邮箱:
                </div>
                <div class="zkinfo-input">
                    <input class="layui-input" type="text">
                </div>
            </div>
            <div class="zkinfo-form-line">
                <div class="zkinfo-title4">
                    会员号码:
                </div>
                <div class="zkinfo-input">
                    <input class="layui-input" type="text">
                </div>
            </div>

            <div class="zkinfo-page">
                <div class="zkinfo-pageNum">1</div>
                <div class="zkinfo-addNew">
                    <img src="../../../assets/img/reservation_icon_tianjia.png" />
                </div>
                <div class="zkinfo-delete">
                    <img src="../../../assets/img/reservation_icon_sc.png" />
                </div>
                <div style="flex:1;"></div>
                <div class="zkinfo-clear">
                    <img src="../../../assets/img/reservation_icon_chexiao.png" />
                </div>
                <div class="zkinfo-save">
                    <img src="../../../assets/img/reservation_icon_zhuanyi.png" />
                </div>
            </div>
        </form>
    </div>
</div>