<link rel="stylesheet" type="text/css" href="../../role/role-index/role-index.css"/>
<script src="../../../lib/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
<div id="role-index">
    <title>测试测试</title>
    <div class="whui-fluid">
        <div class="layui-row layui-col-space10">
            <div id="test" class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="margin-top:10px;">
                <div class="layui-col-xs11 layui-col-sm1 layui-col-md1" v-for="(room,index) in rooms" @click.shift="shiftSelect(index,$event)" @click.ctrl="mutiSelected(index,$event)" @click="selected(index,$event)" @mouseenter="showDetail(room)" :class="{changeStatus: room.selected == true}">{{room.num}}</div>
            </div>
        </div>
    </div>
</div>
<script src="../../../lib/comm/js/comm.js?page=role-index" type="text/javascript" charset="utf-8"></script>
<script src="../../role/role-index/role-index.js" type="text/javascript" charset="utf-8"></script>