<link rel="stylesheet" type="text/css" href="../../main/dianzhang/dianzhang.css" />
<div class="sanjiao">
	<img src="../../../assets/img/main-sanjiao.png" />
</div>
<div class="dianzhang-container">
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-yonghu"></div>
		</a>
		<div class="dianzhang-title">
			用户管理
		</div>
	</div>
	<div class="dianzhang-item">
		<a lay-href="system-settings/system-settings/system-settings">
			<div class="item-img img-xitong"></div>
		</a>
		<div class="dianzhang-title">
			系统设置
		</div>
	</div>
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-fangjia"></div>
		</a>
		<div class="dianzhang-title">
			房价设置
		</div>
	</div>
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-ar"></div>
		</a>
		<div class="dianzhang-title">
			AR管理
		</div>
	</div>
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-shenji"></div>
		</a>
		<div class="dianzhang-title">
			审计
		</div>
	</div>
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-caiwushenhe"></div>
		</a>
		<div class="dianzhang-title">
			财务审核
		</div>
	</div>
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-qiantaichazhang"></div>
		</a>
		<div class="dianzhang-title">
			前台查账
		</div>
	</div>
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-chafang"></div>
		</a>
		<div class="dianzhang-title">
			查房
		</div>
	</div>
	<div class="dianzhang-item">
		<a>
			<div class="item-img img-zhikazhongxin"></div>
		</a>
		<div class="dianzhang-title">
			制卡中心
		</div>
	</div>
</div>
<script src="../../main/dianzhang/dianzhang.js" type="text/javascript" charset="utf-8"></script>